@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

:root{
  /*-----------------------------------*/
  /* Combinação  */
  --clearneonBlue: #4deeea;
  --neonBlue: #00b8ff;
  --deepneonBlue: #4700ff;
  --clearneonBlueTransp: #4deeea44;
  --clearneonPurple: #ff00b8;
  --neonPurple: #c610ae;
  --deepneonPurple: #B71DDE;
  --clearneonPurpleTransp: #ff00b844;

  /* Combinação  */
  --clearneonGreen: #00ff47;
  --neonGreen: #04e762;
  --deepneonGreen: #4cb944;
  --clearneonGreenTransp: #00ff4744;
  --clearneonRed: #ff4700;
  --neonRed: #D22730;
  --deepneonRed: #860f0f;
  --clearneonRedTransp: #ff470044;
  
  /* Combinação  */
  --clearneonYellow: #e5ec1a;
  --neonYellow: #FFDE00;
  --deepneonYellow: #deb00a;
  --clearneonYellowTransp: #e5ec1a44;
  --clearneonViolet: #9400d3;
  --neonViolet: #663399;
  --deepneonViolet: #4b0082;
  --clearneonVioletTransp: #9400d344;
  
  --neonOrange:  #FFAD00;
  /*-----------------------------------*/
  --white: rgb(238, 241, 243);
  --whitesmoke: rgb(229, 229, 229);
  --whitesmokeTransp: rgb(229, 229, 229, 0.8);
  --cleargrey: rgb(172, 172, 172);
  --grey: rgb(106, 106, 106);
  --mediumgrey: rgb(80, 80, 80);
  --deepgrey: rgb(50, 50, 50);
  --clearblack: rgba(35, 35, 35, 0.5);
  --black-grey: rgb(25, 25, 30);
  --mediumblack: rgb(23, 23, 23);
  /*-----------------------------------*/
}

body, html{
  height: 100vh;
}

ul{
  list-style: none;
  display: flex;
  gap: 1rem;
}

a{
  text-decoration: none;
  font-weight: bold;
  position: relative;
  transition: all 0.3s ease;
}

a::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  transition: all 0.3s ease;
}

a:hover::after{
  width: 100%;
  transition: all 0.3s ease;
}

.btn:hover::after, .btn-secondary:hover::after{
  width: 0%;
}

.style-color{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-theme{
  outline: none;
  border: none;
  background-color: transparent;
}

.fa-solid{
  font-size: 1.5rem;
}

.form-page form .btn, .btn, .btn-secondary{
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  font-weight: bold;
  background-color: transparent;
  transition: all 0.4s;
}

.btn-secondary{
  font-size: 1rem;
}

#dark .form-page form .btn, 
#dark .btn, 
#dark .btn-secondary{
  border: 2px solid var(--neonYellow);
  color: var(--neonYellow);
  transition: all 0.3s ease;
}

#dark .form-page form .btn:hover, 
#dark .btn:hover, 
#dark .btn-secondary:hover{
  background-color: var(--neonYellow);
  color: var(--mediumblack);
} 

#light .form-page form .btn, 
#light .btn, 
#light .btn-secondary{
  border: 2px solid var(--neonViolet);
  color: var(--neonViolet);
  transition: all 0.3s ease;
}

#light .form-page form .btn:hover, 
#light .btn:hover, 
#light .btn-secondary:hover{
  background-color: var(--neonViolet);
  color: var(--whitesmoke);
}