.option{
    background-color: var(--deepneonViolet);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.option:hover{
    box-shadow: 0px 0px 5px var(--mediumblack);
    border-color: var(--whitesmoke);
    transform: scale(1.05);
}

#options-container .option p{
    margin-bottom: 0;
    color: var(--whitesmoke);
}

.correct{
    background-color: var(--neonGreen);
    font-weight: bold;
}

.wrong{
    background-color: var(--deepgrey);
    opacity: 0.4;
}

.hide{
    display: none;
}