/* Importa a fonte 'Comfortaa' do Google Fonts para ser usada no documento */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

/* Remove margens, preenchimentos, garante a caixa de modelo border-box e define a fonte para todo o documento */
* {
    margin: 0; /* Remove margens */
    padding: 0; /* Remove preenchimentos */
    box-sizing: border-box; /* Garante a caixa de modelo border-box */
    font-family: 'Comfortaa', cursive; /* Define 'Comfortaa' como a fonte padrão */
}

/* Define variáveis de cor no root para reutilização consistente */
:root{
    /* Cores neon para destaque */
    --clearneonBlue: #4deeea;
    --neonBlue: #00b8ff;
    --deepneonBlue: #4700ff;
    --clearneonPurple: #ff00b8;
    --neonPurple: #C724B1;
    --clearnedonGreen: #00ff47;
    --neonYellow: #E0E722;
    --neonOrange:  #FFAD00;
    --clearneonRed: #ff4700;
    --neonRed: #D22730;
    --deepneonRed: #860f0f;

    /*-----------------------------------*/
    /* Tons de cinza para diversas aplicações */
    --whitesmoke: rgb(229, 229, 229);
    --grey: rgb(106, 106, 106);
    --mediumgrey: rgb(80, 80, 80);
    --deepgrey: rgb(50, 50, 50);
    --clearblack: rgba(35, 35, 35, 0.5);
    --mediumblack: rgb(23, 23, 23);
}

/* Estilizando a tag <main>, aplicando um layout de coluna, padding, largura e altura mínimas e cor de fundo */
main{
    display: flex; /* Define como flexível para organização do conteúdo */
    flex-direction: column; /* Organiza o conteúdo em coluna */
    padding: 2% 2% 2% 2%; /* Espaçamento interno */
    min-width: 100vh; /* Largura mínima equivalente à altura da viewport */
    min-height: 100vh; /* Altura mínima equivalente à altura da viewport */
    background-color: var(--mediumblack); /* Cor de fundo */
}

/* Estilizando a classe .div_revision para blocos de conteúdo */
.div_revision{
    background-color: var(--deepgrey);
    max-width: 60%;
    max-height: 15%;
    margin: 15px 0px 15px 0px; /* Margem superior, direita, inferior e esquerda */
    padding: 15px;
    border-radius: 10px; /* Borda arredondada */
    box-shadow: inset 0 0 10px var(--clearneonBlue); /* Sombra interna (aplicando um "efeito" visual)*/
    box-sizing: border-box;
}

/* ------------------------------------------------------------------------------ */

/* Estilizando parágrafos (tag <p>)*/
p{
    color: var(--whitesmoke); /* Cor do texto */
}

/* Estilizando o título principal (tag <h1>) */
h1{
    /* Centralizando a tag h1 */
    margin-left: auto; /* Margem à esquerda automática */
    margin-right: auto; /* Margem à direita automática */
    
    margin-bottom: 15px; /* Margem inferior de 15 pixel */
    color: var(--neonBlue);
    font-size: 40px; /* Tamanho da fonte */
}

h2{
    margin-top: 15px; /* Margem superior de 15 pixel */
    color: var(--clearneonBlue);
    border-bottom: 2px solid var(--clearneonBlue); /* Aplicando uma cor na borda inferior */
    font-size: 30px;
}

li{
    margin-bottom: 8px;
}

label{
    color: var(--clearneonBlue);
    font-weight: bold;
    text-shadow: 0px 0px 10px var(--deepneonBlue);
    display: block;
}

input{
    transition: all 350ms ease;
    background-color: rgba(0, 0, 0, 0);
    padding: 4px;
    outline: none;
    color: var(--whitesmoke);
    border: 1px solid var(--neonBlue);
    border-radius: 5px;
}

input:focus{
    transition: all 300ms ease;
    box-shadow: inset 0px 0px 5px var(--clearneonBlue);
}

select{
    transition: all 350ms ease;
    background-color: rgba(0, 0, 0, 0);
    padding: 2px;
    color: var(--neonBlue);
    outline: none;
    border: 1px solid var(--neonBlue);
    border-radius: 3px;
}

select:focus{
    transition: all 300ms ease;
    font-weight: bold;
    box-shadow: inset 0px 0px 5px var(--clearneonBlue);
}

option{
    padding: 3px;
    background-color: var(--mediumgrey);
    color: var(--whitesmoke);
}

textarea{
    transition: all 350ms ease;
    background-color: rgba(0, 0, 0, 0);
    color: var(--whitesmoke);
    padding: 3px;
    outline: none;
    border: 1px solid var(--neonBlue);
    border-radius: 5px;
}

textarea:focus{
    transition: all 300ms ease;
    box-shadow: inset 0px 0px 5px var(--clearneonBlue);
}

fieldset{
    color: var(--deepneonBlue);
    font-weight: bold;
    border: 0.5px solid var(--deepneonBlue);
    padding: 0px 8px 8px 8px;
    border-radius: 5px;
}

fieldset label{
    margin-top: 10px;
}

input:disabled{
    border: 1px solid var(--clearneonRed);
    background-color: var(--mediumblack);
    color: var(--clearneonRed);
}

input::placeholder{
    color: var(--grey);
}

button{
    border-radius: 5px;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--neonPurple);
    box-shadow: inset 0px 0px 5px var(--neonPurple);
    color: var(--neonPurple);
    margin-right: 8px;
}

button:active{
    border: 1px solid var(--clearneonPurple);
    box-shadow: inset 0px 0px 5px var(--clearneonPurple);
    color: var(--clearneonPurple);
}

/* Estilizando links */
.link{
    color: var(--clearneonBlue);
    text-decoration: none; /* Removendo sublinhado padrão dos links */
}

/* Estilizando imagens */
.image{
    width: 10%; /* Largura da imagem, se usar apenas esse comando a alturar já se adequa também */
}

/* Estilizando listas não ordenadas */
.UnorderedList{
    margin-left: 20px; /* Margem à esquerda de 20 pixel*/
    list-style: circle; /* Alterando o estilo de marcador de lista para um círculo */
}

/* Estilizando listas ordenadas */
.OrderedList{
    margin-left: 20px;
}

.textOfExamples{
    font-size: 13px;
    border: 1px solid var(--clearneonBlue);
    border-radius: 5px;
}

/* Estilizando marcadores de lista */
li::marker{
    color: var(--clearneonBlue); /* Cor do marcador */
}

#exclusive_title{
    /* Por ser uma tag "h1" as estilizações colocadas na tag em si continuam valendo caso não sejam alteradas */
    margin-bottom: 0px; /* Zerando a margem inferior, setada anteriormente na estilização da tag "h1" */
    margin-top: 3px;
    font-size: 15px;
    color: var(--neonBlue);
    text-shadow: 1px 1px 5px var(--deepneonBlue); /* Aplicando um efeito de sombre no texto */
}

#backgroundImage{
    height: 150px;
    background-image: url(/Files/backgroundImage.jpg);
    background-position: center;
    background-size: cover;
}

.class_title{
    margin-bottom: 0px;
    margin-top: 3px;
    font-size: 15px;
    color: var(--clearneonRed);
    text-shadow: 0px 0px 5px var(--deepneonRed);
}

.varExample{
    font-size: 13px;
    color: var(--clearneonBlue);
}

.borderExample{
    font-size: 13px;
    border: 1px solid var(--clearneonBlue);
    border-radius: 5px;
}

.inlineBox{
    background-color: var(--deepneonBlue);
    display: inline-block;
    margin: 10px;
}

.blockBox{
    background-color: var(--deepneonRed);
    display: block;
    margin: 10px;
}

.div_form{
    margin: 10px 5px;
}

.options_multiple{
    background-color: rgba(0, 0, 0, 0);
    color: var(--neonBlue);
}

.radio label,
.radio input,
.radio span{
    display: inline-block;
    outline: none;
    box-shadow: inset 0px 0px 0px;
}

#invisible{
    display: none;
}

#paddingExample{
    padding: 10px;
}

#marginExample{
    margin: 10px;
}

#sizeExample{
    width: 130px;
    height: 50px;
}

#textAlignExample{
    text-align: center;
    text-decoration: 1.5px underline var(--deepneonRed);
}

#textTransformExample{
    text-transform: uppercase;
    letter-spacing: 1px;
}

#fontSizeExample{
    font-size: 18px;
}

#fontStyleExample{
    font-family: fantasy;
}

#fontItalicExample{
    font-style: italic;
    font-weight: 1000;
}