.add-memory-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.add-memory-page h2{
    color: var(--neonBlue);
    text-shadow: 0.5px 0.5px 3px var(--mediumblack);
    padding: 2rem 0 1rem;
    text-align: center;
}

.add-memory-page form{
    max-width: 500px;
}

.add-memory-page p{
    font-weight: bold;
    color: var(--mediumgrey);
    margin-bottom: 0.4rem;
}